@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Offers.Categories.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new OMP.Offers.CategoriesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>