@import "site.mixins.less";


.s-Offers-CountriesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Offers-CitiesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Offers-AccountsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Offers-CompaniesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}