@model OMP.Offers.Pages.OfferReportFooterModel

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        footer {
            min-height: 50px;
            padding-top: 2px;
            padding-bottom: 10px;
            width: 100%;
            color: #464646;
            border-top: 1px solid #464646;
            font-size: 8px;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
        }

            footer h3 {
                margin: 0;
                padding: 0 0 0 0;
                width: 49%;
                display: inline-block;
            }

            footer .image-holder {
                margin: 0;
                padding: 0;
                
                float: right;
                width: 49%;
                padding-top: 5px;
            }
        footer .image-holder img {
            margin: 0;
            padding: 0;
            float: right;
        }
    </style>
</head>
<body style="border: 0; margin: 0;">

    <footer>
        <h3>
            @Html.Raw(Model.FooterText)
        </h3>
        <div class="image-holder">
            @if (!Model.FooterImagePath.IsEmptyOrNull())
            {
                <img class="footer-logo"  height="45" src="@System.Web.VirtualPathUtility.ToAbsolute("~/upload/" + Model.FooterImagePath)" />
            }
        </div>
    </footer>
</body>
</html>