@model OMP.Offers.Pages.OfferReportHeaderModel
@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<!DOCTYPE HTML>
<html>
<head>
      <meta charset="UTF-8">
    <style>
        .offerTitle {
            width: 100%;
            text-align: center;
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            min-height: 120px;
            color: #464646;
            padding-bottom: 20px;

        }

        .offerTitle span {
            font-size: 24pt;
        }
        .offerTitle span:last-child {
            font-size: 14pt;
        }
    </style>
</head>
<body style="border: 0; margin: 0;">
    <h1 class="offerTitle">
        <span>@Model.OfferTitle</span>
        <br />
        <span>@Serenity.LocalText.TryGet("Site.Offers.OfferReportPage")  @Context.Request.Query["page"] / @Context.Request.Query["topage"]</span>
    </h1>
</body>
</html>